In [11]:
import pandas as pd
from plotting import CandlePlotting
pd.set_option('display.max_columns', None)

In [6]:
df_ma_res = pd.read_pickle("../Data/ma_res.pkl")
df_ma_trades = pd.read_pickle("../Data/ma_trades.pkl")

In [19]:
df_ma_res.granularity.unique()

array(['H1', 'H4'], dtype=object)

In [22]:
df_ma_res_h1 = df_ma_res[df_ma_res.granularity == "H1"].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity == "H1"].copy()

In [25]:
df_ma_trades_h1.shape

(22993, 32)

In [27]:
df_ma_res_h1.shape

(320, 10)

In [36]:
df_ma_res_h1.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'ma_l', 'ma_s', 'cross', 'granularity'],
      dtype='object')

In [37]:
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain', 'cross']].copy()

In [38]:
df_cross_summary

        pair  num_trades  total_gain         cross
0    EUR_USD         215         751   MA_10_MA_20
1    EUR_USD         127        -312   MA_10_MA_40
2    EUR_USD         111         -42   MA_20_MA_40
3    EUR_USD         125         -44   MA_30_MA_40
4    EUR_USD          95        -303   MA_10_MA_80
..       ...         ...         ...           ...
315  CAD_JPY          41        -394  MA_40_MA_120
316  CAD_JPY          61        -300  MA_10_MA_150
317  CAD_JPY          43         150  MA_20_MA_150
318  CAD_JPY          37        -547  MA_30_MA_150
319  CAD_JPY          31        -324  MA_40_MA_150

[320 rows x 4 columns]

UNISCO TUTTE LE RIGHE CHE HANNO LA STESSA CROSS

In [42]:
df_cross_gr  = df_cross_summary.groupby(by="cross", as_index=False ).sum()
df_cross_gr.sort_values(by="total_gain", ascending=False, inplace=True)

In [44]:
df_cross_gr.head()

          cross  num_trades  total_gain
2   MA_10_MA_20        4145       13964
3   MA_10_MA_40        2307       11758
11  MA_30_MA_40        2374        6656
7   MA_20_MA_40        2069        5654
8   MA_20_MA_80        1185         660

In [48]:
total_pair = len(df_ma_res_h1.pair.unique())

In [49]:
total_pair

15

In [53]:
temp = df_ma_res_h1[df_ma_res_h1.cross == "MA_10_MA_20 "]

In [54]:
temp[temp.total_gain > 0].shape[0]

0

In [56]:
for c in df_ma_res_h1.cross.unique():
    temp = df_ma_res_h1[df_ma_res_h1.cross == c]
    pg = temp[temp.total_gain > 0].shape[0]
    print(f"{c} pg:{pg} perc gain:{(pg/total_pair) * 100:.0f}%")

MA_10_MA_20 pg:16 perc gain:107%
MA_10_MA_40 pg:14 perc gain:93%
MA_20_MA_40 pg:12 perc gain:80%
MA_30_MA_40 pg:9 perc gain:60%
MA_10_MA_80 pg:8 perc gain:53%
MA_20_MA_80 pg:6 perc gain:40%
MA_30_MA_80 pg:7 perc gain:47%
MA_40_MA_80 pg:6 perc gain:40%
MA_10_MA_120 pg:9 perc gain:60%
MA_20_MA_120 pg:7 perc gain:47%
MA_30_MA_120 pg:6 perc gain:40%
MA_40_MA_120 pg:7 perc gain:47%
MA_10_MA_150 pg:11 perc gain:73%
MA_20_MA_150 pg:9 perc gain:60%
MA_30_MA_150 pg:6 perc gain:40%
MA_40_MA_150 pg:7 perc gain:47%

In [ ]:
cross = "MA_20"